.project>div:first-child {
    font-size: 55px;
    text-align: center;
    /* margin-top: 50px; */
    color: #ffa31a;
}

.project>div:last-child>div>div {
    border: 8px solid #808080;
    /* background-color: #808080; */
    /* border-radius: 10px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.project>div:last-child>div>div {

    box-shadow: rgba(140, 139, 139, 0.3) 0px 19px 38px, rgba(90, 89, 89, 0.22) 0px 15px 12px;
}

.project {
    padding-top: 100px;
    margin-top: -100px;
    /* border: 1px solid red; */

}

.button {
    border: none;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 12px;
    width: 100px;
    border-radius: 10px;
    color: #999999;
    margin-left: 10px;
}

.button:hover {
    color: white;
    background: transparent;
}

.react-icons {
    color: white;

}

.techStack{
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    gap:20px;
    height: 80px;
    overflow: wrap;
}
.techStack img{
    height: 90%;
}

@media (min-width: 20px) and (max-width: 800px) {
    .project>div:last-child>div>div {
        padding: 30px 10px 30px 10px;
    }
}
@media (min-width: 20px) and (max-width: 500px) {
    .discription{
        font-size: 14px;
    }
    
}
@media (min-width: 30px) and (max-width: 950px) {
    .techStack{
        height: 70px;
    }
}
@media (min-width: 30px) and (max-width: 950px) {
    .techStack{
        height: 70px;
    }
    .project>div:last-child>div>div {
        border: 6px solid #808080;
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    .project>div:last-child>div>div {
        border: 8px solid #808080;
        /* background-color: #808080; */
        /* border-radius: 10px; */
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    
}